$fontmenu: "Pacifico", cursive;
$fontmain: "Open Sans", sans-serif;

.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}
.header {
  background-image: url(../img/bg-header.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  min-height: 100vh;
  .header__nav-wrapper {
    background-color: rgba(0, 0, 0, 0.75);
    height: 63px;
    position: fixed;
    width: 100%;
    z-index: 999;
    .menu {
      height: 100%;
      display: flex;
      align-items: center;
      .menu__icon {
        display: none;
        margin-left: auto;
        padding: 10px;
        color: #fff;
        font-size: 24px;
        cursor: pointer;
      }
      nav {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        a {
          color: #a7a6a6;
          text-decoration: none;
          font-size: 17px;
          font-family: $fontmenu;
          text-transform: uppercase;
          letter-spacing: 1px;
          &:hover {
            text-decoration: underline;
          }
        }
        .current {
          color: #fff;
          font-weight: 600;
          text-decoration: underline;
        }
      }
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.95);
      transition: 0.2s;
      a {
        color: #a7a6a6;
      }
      nav .current {
        color: #fff;
        transition: 0.2s;
      }
    }
  }
  .header__img {
    margin: 0 auto;
    max-width: 350px;
    img {
      max-width: 100%;
      margin-top: 220px;
    }
  }
}
.discography {
  padding-top: 150px;
  .discography__title {
    text-align: center;
    font-family: $fontmenu;
    font-size: 50px;
    letter-spacing: 1px;
    color: #42717e;
    margin-bottom: 35px;
    text-transform: uppercase;
  }
  .discography__description {
    margin: 0 auto;
    text-align: center;
    max-width: 675px;
    font-family: $fontmain;
    font-size: 14px;
    letter-spacing: 1px;
    color: #798285;
    line-height: 24px;
    font-style: italic;
  }
  .discography__wrapper {
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .discography__inner {
      display: none;
      padding: 30px 10px;
      background-color: #f5f6f6;
      margin-bottom: 20px;
      width: 365px;
      border-radius: 10px;
      box-sizing: border-box;
      .discography__inner_wrapper{
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
      }
      .discography__inner-date {
        font-family: $fontmain;
        font-size: 14px;
        font-weight: bold;
      }
      hr {
        height: 1px;
        border: none;
        background-color: #000;
      }
      .discography__inner-name {
        font-family: $fontmain;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
      }
      .discography__youtube {
        width: 100%;
        height: 250px;
        iframe {
          display: block;
          margin: 25px 0;
          width: 100%;
          height: 250px;
        }
        .ytLoader {
          width: 100%;
          img {
            width: 100%;
            margin: 25px 0;
            height: 250px;
          }
        }
      }
      .discography__inner-button {
        align-self: flex-start;
        margin-top: 40px;
        display: inline-block;
        background: transparent;
        background: #c4302b;
        opacity: 0.9;
        padding: 15px 40px;
        font-size: 14px;
        font-family: $fontmain;
        font-weight: bold;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        border-radius: 10px;
        &:hover {
          opacity: 1;
        }
        &::after {
          content: ">";
          margin-left: 15px;
        }
      }
    }
  }
  .load_more {
    text-align: center;
    a {
      display: inline-block;
      background: #f5f6f6;
      padding: 15px 40px;
      font-size: 14px;
      font-family: $fontmain;
      font-weight: bold;
      color: #000;
      text-decoration: none;
      cursor: pointer;
      transition: 0.1s;
      box-shadow: 0 0 1px #c2c2c2;
      &:hover {
        box-shadow: 0 0 3px #c2c2c2;
      }
    }
  }
  .discography__img {
    min-height: 787px;
    background-image: url(../img/bg-description.png);
    background-repeat: no-repeat;
    background-position: center 0;
    margin-top: -350px;
  }
}
.reviews {
  min-height: 642px;
  background-image: url(../img/bg-reviews.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  text-align: center;
  color: #fff;
  position: relative;
  .reviews__inner {
    max-width: 520px;
    margin: 0 auto;
  }
  .reviews__inner-header {
    display: inline-block;
    padding-top: 100px;
    font-family: $fontmenu;
    font-size: 50px;
    position: relative;
    &::after {
      content: "";
      background-image: url(../img/reviews-decorator-right.png);
      width: 28px;
      height: 8px;
      position: absolute;
      right: -75px;
      bottom: 7px;
    }
    &::before {
      content: "";
      background-image: url(../img/reviews-decorator-left.png);
      width: 28px;
      height: 8px;
      position: absolute;
      left: -75px;
      bottom: 7px;
    }
  }
  .reviews__inner-title {
    margin: 100px 0 40px 0;
    img {
      border-radius: 50px;
    }
  }
  .reviews__inner-text {
    color: #798285;
    font-family: $fontmain;
    font-size: 14px;
    margin-bottom: 65px;
    line-height: 24px;
  }
  .reviews__inner-author {
    font-family: $fontmain;
    font-size: 22px;
    font-size: 19px;
  }
}
.swiper-container {
  width: 100%;
  height: 100%;
  position: unset;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
}
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 90px;
}
.swiper-pagination-bullet-active {
  background: #fff;
}

.popular {
  padding-top: 150px;
  .popular__title {
    text-align: center;
    font-family: $fontmenu;
    font-size: 50px;
    letter-spacing: 1px;
    color: #9b6e51;
    margin-bottom: 35px;
    text-transform: uppercase;
  }
  .popular__description {
    margin: 0 auto;
    text-align: center;
    max-width: 675px;
    font-family: $fontmain;
    font-size: 14px;
    letter-spacing: 1px;
    color: #798285;
    line-height: 24px;
    margin-bottom: 150px;
    font-style: italic;
  }
  .popular__inner {
    display: flex;
    margin-bottom: 54px;
    height: 355px;
    .popular__inner_first {
      width: 50%;
      padding: 35px;
      background-color: #f5f6f6;
      .popular__inner_first-date {
        font-family: $fontmain;
        font-size: 14px;
        font-weight: bold;
      }
      hr {
        height: 1px;
        border: none;
        background-color: #000;
        max-width: 400px;
        margin-right: 165px;
      }
      .popular__inner_first-name {
        font-family: $fontmain;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
      }
      .popular__inner_first-title {
        font-family: $fontmain;
        font-size: 22px;
        font-weight: 600;
        margin: 20px 0;
        line-height: 24px;
      }
      .popular__inner_first-text {
        font-family: $fontmain;
        font-size: 14px;
        line-height: 24px;
        color: #acacac;
        margin-bottom: 60px;
      }
      .popular__inner_first_footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .popular__inner_first_footer-button {
          display: block;
          background: transparent;
          background: #c4302b;
          opacity: 0.9;
          padding: 15px 40px;
          font-size: 14px;
          font-family: $fontmain;
          font-weight: bold;
          color: #fff;
          text-decoration: none;
          cursor: pointer;
          border-radius: 10px;
          &:hover {
            opacity: 1;
          }
          &::after {
            content: ">";
            margin-left: 15px;
          }
        }
        .popular__footer-item {
          color: #999;
          font-family: $fontmain;
          font-size: 12px;
          padding-bottom: 4px;
          letter-spacing: 1px;
        }
        .popular__inner_first_footer-views {
          position: relative;
          &::before {
            content: "";
            background-image: url(../img/popular_audio.png);
            background-repeat: no-repeat;
            background-position: center center;
            position: absolute;
            width: 20px;
            height: 20px;
            bottom: 1px;
            left: -30px;
          }
        }
        .popular__inner_first_footer-likes {
          position: relative;
          &::before {
            content: "";
            background-image: url(../img/popular_heart.png);
            background-repeat: no-repeat;
            background-position: center center;
            position: absolute;
            width: 20px;
            height: 20px;
            bottom: 1px;
            left: -30px;
          }
        }
        .popular__inner_first_footer-comment {
          position: relative;
          &::before {
            content: "";
            background-image: url(../img/popular_comment.png);
            background-repeat: no-repeat;
            background-position: center center;
            position: absolute;
            width: 20px;
            height: 20px;
            bottom: 1px;
            left: -30px;
          }
        }
      }
    }
    .popular__inner_second {
      width: 50%;
      iframe {
        width: 100%;
        height: 355px;
      }
      .ytLoader {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.contact {
  min-height: 862px;
  background-image: url(../img/bg-contact.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  .contact__form-wrapper {
    display: flex;
    padding-top: 150px;
    margin-top: 150px;
    .contact__form {
      display: flex;
      flex-direction: column;
      margin-left: auto;
      margin-right: 115px;
      width: 390px;
      .contact__title {
        text-align: center;
        font-family: $fontmenu;
        font-size: 50px;
        letter-spacing: 1px;
        color: #000;
        margin-bottom: 35px;
        text-transform: uppercase;
        margin-bottom: 80px;
      }
      .contact__form-item {
        border: none;
        border-bottom: 2px solid #000;
        color: #798285;
        font-family: $fontmain;
        font-size: 14px;
        margin-bottom: 50px;
        padding-bottom: 10px;
        font-style: italic;
        letter-spacing: 1px;
      }
      .contact__form-textarea {
        resize: none;
        background-color: transparent;
      }
      .contact__form-submit {
        border: none;
        font-family: $fontmenu;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 5px;
        background-color: transparent;
        margin-right: auto;
      }
      #loader {
        display: none;
        margin-top: -40px;
      }
      #answer {
        display: block;
        font-family: $fontmain;
        font-size: 14px;
        font-style: italic;
        margin-left: 5px;
      }
    }
    .contact__form-soc {
      padding: 0 25px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-left: 2px solid #000;
      height: 230px;
      margin-top: 130px;
      a {
        color: #000;
        font-size: 18px;
        outline: none;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .popular {
    .popular__inner {
      width: 80%;
      margin: 0 auto;
      margin-bottom: 54px;
      flex-direction: column;
      height: unset;
      .popular__inner_first {
        width: 100%;
        box-sizing: border-box;
        hr {
          max-width: 100%;
          margin-right: 0;
        }
      }
      .popular__inner_second {
        width: auto;
        iframe {
          width: 100%;
          height: 300px;
        }
        .ytLoader {
          width: 100%;
          height: 300px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .popular__inner-reverse {
      flex-direction: column-reverse;
    }
  }
  .discography {
    .discography__wrapper {
      justify-content: space-around;
      .discography__inner {
        box-sizing: border-box;
        display: none;
      }
    }
  }
  .contact {
    .contact__form-wrapper {
      padding-top: 50px;
      margin-top: 150px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  body {
    box-sizing: border-box;
  }
  .header {
    background-position: center 0;
    background-size: unset;
    min-height: 100vh;
    .header__nav-wrapper {
      background-color: transparent;
      .menu {
        width: 100%;
        height: 100%;
        display: inline-flex;
        align-items: flex-start;
        justify-content: flex-end;
        margin-left: auto;
        .menu__icon {
          background-color: #000;
          display: inline-block;
          padding: 10px;
          color: #fff;
          font-size: 24px;
          cursor: pointer;
          margin: 5px 5px;
        }
        nav {
          background-color: #000;
          width: auto;
          display: none;
          padding: 0 10px;
          margin-top: 5px;
          a {
            margin: 20px 0;
            display: block;
          }
        }
        .menu__links-on {
          display: inline-block;
        }
      }
      &:hover {
        background-color: transparent;
      }
    }
  }
  .discography {
    .discography__title {
      font-size: 30px;
    }
    .discography__description {
      padding: 0 5px;
    }
  }
  .reviews {
    .reviews__inner-header {
      font-size: 30px;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  .popular {
    .popular__title {
      font-size: 30px;
    }
    .popular__description {
      padding: 0 5px;
    }
    .popular__inner {
      flex-direction: column;
      height: unset;
      .popular__inner_first {
        width: auto;
        padding: 15px;
        text-align: center;
        hr {
          max-width: unset;
          margin-right: unset;
        }
        .popular__inner_first-text {
          margin-bottom: 10px;
        }
        .popular__inner_first_footer {
          justify-content: center;
          align-items: center;
          flex-direction: column-reverse;
          .popular__footer-item {
            margin: 10px 0;
          }
          .popular__inner_first_footer-views {
            display: none;
          }
          .popular__inner_first_footer-likes {
            display: none;
          }
          .popular__inner_first_footer-comment {
            display: none;
          }
        }
      }
      .popular__inner_second {
        width: auto;
        iframe {
          width: 100%;
          height: 240px;
        }
        .ytLoader {
          width: 100%;
          height: 240px;
          img {
            width: 100%;
            height: 240px;
          }
        }
      }
    }
    .popular__inner-reverse {
      flex-direction: column-reverse;
    }
  }

  .contact {
    .contact__form-wrapper {
      display: block;
      padding-top: 100px;
      margin-top: 0;
      .contact__form {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: unset;
        width: auto;
        padding: 0 5px;
        .contact__title {
          font-size: 30px;
          margin-bottom: 50px;
        }
        #loader {
          display: none;
          margin-top: unset;
        }
        #answer {
          display: block;
          font-family: $fontmain;
          font-size: 14px;
          font-style: italic;
          margin-left: 5px;
        }
      }
      .contact__form-soc {
        padding: 0 25px;
        display: flex;
        flex-direction: unset;
        justify-content: space-around;
        border-left: unset;
        height: unset;
        margin-top: 25px;
        a {
          color: #000;
          font-size: 24px;
          outline: none;
        }
      }
    }
  }
}
